<div class="container mt-5">
    <h2>Galería de Obras de Arte</h2>
    <!-- Aquí podrías agregar una cuadrícula de imágenes de tus obras de arte -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets\images\imagen4.jpg" alt="Imagen 4">
      </div>
      <div class="col-md-4">
        <img src="assets\images\imagen3.jpg" alt="Imagen 3">
      </div>
      <div class="col-md-4">
        <img src="assets\images\imagen1.jpg" alt="Imagen 1">
      </div>
      <div class="col-md-4">
        <img src="assets\images\imagen2.jpg" alt="Imagen 2">
      </div>
    </div>
    <!-- Repite el patrón anterior para más filas y columnas -->
  </div>
  