<div class="container mt-5">
    <h2>Galería de Obras de Arte</h2>
    <!-- Aquí podrías agregar una cuadrícula de imágenes de tus obras de arte -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets\images\Amigacho.jpg" alt="Amigacho">
      </div>
      <div class="col-md-4">
        <img src="assets\images\AmorDeVerano.jpg" alt="AmorDeVerano">
      </div>
      <div class="col-md-4">
        <img src="assets\images\Baby.jpg" alt="Baby">
      </div>
      <div class="col-md-4">
        <img src="assets\images\CaraCobre.jpg" alt="CaraCobre">
      </div>
    </div>
    <!-- Repite el patrón anterior para más filas y columnas -->
  </div>
  