/* Estilos para la barra de navegación en pantallas grandes */
.navbar {
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.nav-link {
  padding: 0.5rem 1rem;
  display: block;
  color: #333;
  transition: color 0.2s;
}

/* Estilos para la barra de navegación en pantallas grandes */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

/* Cambio de color al pasar el ratón por encima de los enlaces */
.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Estilos para el botón del menú en dispositivos móviles */
.navbar-toggler-icon {
  background-color: #007bff;
  color: #fff;
}

/* Media query para pantallas más pequeñas (por ejemplo, tablets y móviles) */
@media (max-width: 768px) {
  .navbar-nav {
      flex-direction: column; /* Cambia la dirección de los elementos a columna */
      text-align: left; /* Alinea el texto a la izquierda */
  }

  .navbar-toggler {
      display: block; /* Muestra el botón de hamburguesa */
  }

  .navbar-collapse {
      display: none; /* Oculta el menú en pantallas pequeñas */
  }
}
