/* Estilos para la barra de navegación */

/* navbar.component.css */
.navbar {
    width: 100%;
    background-color: #f8f9fa; /* Color de fondo del navbar */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el navbar esté en la parte superior */
  }
  
  
  .navbar-nav {
    width: 100%;
    justify-content: space-around; /* Distribuir elementos a lo ancho */
  }
  
  .nav-link {
    padding: 0.5rem 1rem; /* Espaciado interno de los enlaces */
  }
  
  /* Estilos para la barra de navegación */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  /* Cambio de color al pasar el ratón por encima de los enlaces */
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  /* Estilos para el botón del menú en dispositivos móviles */
  .navbar-toggler-icon {
    background-color: #007bff;
  }
  