<div class="about-me">
    <h2>Acerca de Mí</h2>
    <p>¡Hola! Soy Tino Gato, un apasionado artista que ha recorrido un camino único y lleno de desafíos. Nací en Trives, Orense, cerca de la estación de esquí. Desde jovencito tuve problemas con diversas sustancias, lo que me llevó a estar ingresado en diferentes centros de desintoxicación. Fue en uno de esos centros donde tuve la oportunidad de asistir a clases con Anton Reixa, un prestigioso pintor. A pesar de todos los problemas que he enfrentado en la vida, nunca dejé de pintar. Hoy en día, me encuentro limpio de sustancias prohibidas, tengo una novia maravillosa, sigo participando en diferentes cursos para enriquecer mi habilidad artística y, sobre todo, continúo pintando con pasión y dedicación.</p>
    
    <!-- Agrega la imagen -->
    
  </div>
  