.container {
    text-align: center;
    margin-top: 100px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Agrega reglas específicas para la tienda aquí */
img{
    width: 90%;
    height: 90%;
}