<div class="top-sidebar">
    <ul class="top-sidebar-list">
      <li class="top-sidebar-item">
        <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li class="top-sidebar-item">
        <a routerLink="/aboutme" routerLinkActive="active">Acerca de Mí</a>
      </li>
      <li class="top-sidebar-item">
        <a routerLink="/tienda" routerLinkActive="active">Tienda</a>
      </li>
      <li class="top-sidebar-item">
        <a routerLink="/galeria" routerLinkActive="active">Galería</a>
      </li>
      <li class="top-sidebar-item">
        <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
      </li>
    </ul>
  </div>
  