.top-sidebar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    position: fixed; /* Agrega la posición fija para mantenerlo en la parte superior */
    top: 0; /* Alinea el sidebar en la parte superior */
    left: 0; /* Alinea el sidebar en el lado izquierdo */
    width: 100%; /* Hace que el sidebar ocupe todo el ancho de la pantalla */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .top-sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .top-sidebar-item {
    margin: 0;
    padding: 0;
  }
  
  .top-sidebar-item a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .top-sidebar-item a:hover {
    background-color: #444;
  }
  
  .active {
    background-color: #555;
  }
  